{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <form class="form-inline" method="get" action="">
        <div class="d-flex justify-content-between align-items-center w-100">
            <a href="?_locale=fr" class="float-left" onclick="this.submit(); return false;">
                <img class="mr-2 img-fluid" src="{{ asset('images/flags/france.png') }}" alt="French Flag" style="max-width: 100px;">
            </a>
            <a href="{{ path('app_application') }}" class="btn btn-outline-danger">{{ 'Retour'|trans }}</a>
            <a href="{{ path('app_fixture')}}" class="btn btn-outline-success mr-2" >{{ 'input.bdd'|trans }}</a>
            <a href="?_locale=en" class="float-right" onclick="this.submit(); return false;">
                <img class="img-fluid" src="{{ asset('images/flags/anglais.png') }}" alt="English Flag" style="max-width: 100px;">
            </a>
        </div>
    </form>
    <h1 style="text-align: center; margin-top: 50px;color: #17a2b8; font-weight: bold; margin-bottom: 50px">{{ 'Espace_Admin'|trans }}</h1>
    <div class="container mt-3">


        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <div class="d-flex justify-content-around">
            <div class="card bg-dark mr-3" style="width: 18rem; border: 1px solid #17a2b8"">
                <div class="card-header" style="font-weight: bold;text-align: center;">
                    {{ 'admin.generate_champ'|trans }}
                </div>
                <div class="card-body" style="text-align: center">
                    <p class="card-text">{{ 'generate_champ.nb_generate'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center">{{ generatedChampions }}</p>
                    <p class="card-text">{{ 'generate_champ.nb_validate'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center">{{ validatedChampions }}</p>
                    <p class="card-text">{{ 'generate_champ.nb_refuse'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center">{{ refusedChampions }}</p>
                    <p class="card-text">{{ 'generate_champ.moyenne'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center">{{ averageChampions }} %</p>

                </div>
                <div class="card-footer" style="text-align: center">
                    <p style="text-align: center"><a  href="{{ path('app_champion') }}" class="btn btn-outline-info">{{ 'Voir_en_détail'|trans }}</a></p>
                </div>
            </div>

            <div class="card bg-dark" style="width: 18rem;border: 1px solid #17a2b8"">
                <div class="card-header" style="font-weight: bold;text-align: center;">
                    {{ 'admin.champion'|trans }}
                </div>
                <div class="card-body" style="text-align: center">
                    <p class="card-text">{{ 'champion.nb_generate'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center">{{ champions }}</p>
                    <img src="{{ asset('images/Admin/Champion.png') }}" style="width: 200px; height: 200px; border-radius: 10%; margin-top: 25px">
                </div>
                 <div class="card-footer" style="text-align: center">
                    <p style="text-align: center"><a  href="{{ path('app_champion') }}" class="btn btn-outline-info">{{ 'Voir_en_détail'|trans }}</a></p>
                </div>
            </div>

            <div class="card bg-dark" style="width: 18rem;border: 1px solid #17a2b8"">
                <div class="card-header" style="font-weight: bold;text-align: center;">
                    {{ 'admin.primary'|trans }}
                </div>
                <div class="card-body" style="text-align: center">
                    <p class="card-text">{{ 'rune.nb_generate_primary'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center">{{ primaryRunes }}</p>
                    <p class="card-text">{{ 'rune.nb_generate_secondary'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center">{{ secondaryRunes }}</p>
                    <img src="{{ asset('images/Admin/PrimaryRune.jpg') }}" style="width: 150px; height: 150px; border-radius: 10%; margin-top: 25px">
                </div>
                 <div class="card-footer" style="text-align: center">
                    <p style="text-align: center"><a  href="{{ path('app_secondary_rune') }}" class="btn btn-outline-info">{{ 'Voir_en_détail'|trans }}</a></p>
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-around mt-4">
            <div class="card bg-dark mr-3" style="width: 18rem;border: 1px solid #17a2b8"">
                <div class="card-header" style="font-weight: bold;text-align: center;">
                    {{ 'admin.user'|trans }}
                </div>
                <div class="card-body" style="text-align: center">
                    <p class="card-text">{{ 'user.nb_generate'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center"> {{ users }}</p>
                    <p class="card-text">{{ 'user.isAdmin'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center"> {{ nbUsersAdmin }}</p>
                    <p class="card-text">{{ 'user.isNotAdmin'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center"> {{ nbUsersUser }}</p>
                    <p class="card-text">{{ 'user.moyenne'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center"> {{ averageChampionsPerUser }} </p>
                </div>
                <div class="card-footer" style="text-align: center">
                    <p style="text-align: center"><a  href="{{ path('app_user') }}" class="btn btn-outline-info">{{ 'Voir_en_détail'|trans }}</a></p>
                </div>
            </div>

            <div class="card bg-dark" style="width: 18rem; border: 1px solid #17a2b8">
                <div class="card-header" style="font-weight: bold;text-align: center;">
                    {{ 'admin.summoner'|trans }}
                </div>
                <div class="card-body" style="text-align: center">
                    <p class="card-text">{{ 'summoner.nb_generate'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center">{{ summoner }}</p>
                    <img src="{{ asset('images/Admin/Summoner.jpg') }}" style="width: 200px; height: 200px; border-radius: 10%; margin-top: 25px">
                </div>
                 <div class="card-footer" style="text-align: center">
                    <p style="text-align: center"><a  href="{{ path('app_summoner') }}" class="btn btn-outline-info">{{ 'Voir_en_détail'|trans }}</a></p>
                </div>
            </div>

            <div class="card bg-dark" style="width: 18rem;border: 1px solid #17a2b8"">
                <div class="card-header" style="font-weight: bold;text-align: center;">
                    {{ 'admin.item'|trans }}
                </div>
                <div class="card-body" style="text-align: center">
                    <p class="card-text">{{ 'item.nb_generate'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center"> {{ items }}</p>
                    <p class="card-text">{{ 'item.nb_mythic'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center"> {{ legendaryItems }}</p>
                    <p class="card-text">{{ 'item.nb_legendary'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center"> {{ mythicItems }}</p>
                    <p class="card-text">{{ 'item.nb_botte'|trans }} : </p>
                    <p style="font-weight: bold;color: #17a2b8;text-align: center"> {{ botteItems }} </p>
                </div>
                 <div class="card-footer" style="text-align: center">
                    <p style="text-align: center"><a  href="{{ path('app_item') }}" class="btn btn-outline-info">{{ 'Voir_en_détail'|trans }}</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
