{% extends 'base.html.twig' %}

{% block title %}Hello SecondaryRuneController!{% endblock %}

{% block body %}

<div>
    <form class="form-inline" method="get" action="">
        <div class="d-flex justify-content-between align-items-center w-100">
            <a href="?_locale=fr" class="float-left" onclick="this.submit(); return false;">
                <img class="mr-2 img-fluid" src="{{ asset('images/flags/france.png') }}" alt="French Flag" style="max-width: 100px;">
            </a>
            <a href="{{ path('app_admin') }}" class="btn btn-outline-danger">{{ 'Retour'|trans }}</a>
            <a href="{{ path('app_champion_add')}}" class="btn btn-outline-success mr-2" >{{ 'input.create'|trans }}</a>
            <a href="?_locale=en" class="float-right" onclick="this.submit(); return false;">
                <img class="img-fluid" src="{{ asset('images/flags/anglais.png') }}" alt="English Flag" style="max-width: 100px;">
            </a>
        </div>
    </form>
    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="container mt-4">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="text-white"> {{ 'input.name'|trans }}</th>
                    <th class="text-white"> {{ 'input.descriptionSummoner'|trans }}</th>
                    <th class="text-white">Image</th>
                    <th class="text-white" style="width: 100px;">Actions</th>
                </tr>
            </thead>
            <tbody >
                {% for summoner in summoners %}
                    <tr>
                        <td class="text-white">{{ (summoner.name)|trans }}</td>
                        <td class="text-white">{{ (summoner.description)|trans }}</td>
                        <td style="text-align: center; vertical-align: middle;">
                            <img src="{{ summoner.image }}" style="max-width: 50px;"></td>
                        </td>
                         <td style="text-align: center; vertical-align: middle;">
                             <a href="{{ path('app_summoner_delete', {'id': summoner.id}) }}" >
                                 <img src="images/icon/delete.png" width="30" height="30"/>
                             </a>
                         </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
