{% extends 'base.html.twig' %}

{% block body %}

<div>
    <form class="form-inline" method="get" action="">
        <div class="d-flex justify-content-between align-items-center w-100">
            <a href="?_locale=fr" class="float-left" onclick="this.submit(); return false;">
                <img class="mr-2 img-fluid" src="{{ asset('images/flags/france.png') }}" alt="French Flag" style="max-width: 100px;">
            </a>
            <a href="{{ path('app_admin') }}" class="btn btn-outline-danger">{{ 'Retour'|trans }}</a>
            <a href="{{ path('app_item_add')}}" class="btn btn-outline-success mr-2" >{{ 'input.create'|trans }}</a>
            <a href="?_locale=en" class="float-right" onclick="this.submit(); return false;">
                <img class="img-fluid" src="{{ asset('images/flags/anglais.png') }}" alt="English Flag" style="max-width: 100px;">
            </a>
        </div>
    </form>

    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="container mt-4">

        <div class="mb-3">
            <label for="itemName">{{ 'input.name'|trans }} :</label>
            <input type="text" class="form-control" id="itemName" name="itemName" value="{{ app.request.query.get('itemName') }}">
        </div>

        <div class="mb-3">
            <label for="itemType">{{ 'filter.type'|trans }} :</label>
            <select class="form-control" id="itemType" name="itemType">
                <option value="">Tous</option>
                <option value="botte" {% if app.request.query.get('itemType') == 'botte' %}selected{% endif %}>Botte</option>
                <option value="mythic" {% if app.request.query.get('itemType') == 'mythic' %}selected{% endif %}>Mythic</option>
                <option value="legendary" {% if app.request.query.get('itemType') == 'legendary' %}selected{% endif %}>Legendary</option>
            </select>
        </div>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="text-white">Image</th>
                    <th class="text-white"> {{ 'input.name'|trans }}</th>
                    <th class="text-white"> {{ 'input.price'|trans }}</th>
                    <th class="text-white"> {{ 'input.isBotte'|trans }}</th>
                    <th class="text-white"> {{ 'input.isMythic'|trans }}</th>
                    <th class="text-white" style="width: 100px;">Actions</th>
                </tr>
            </thead>

            <tbody id="itemBody">
                {% for item in items %}
                    <tr>
                        <td class="text-white"><img src="{{ item.image }}" style="max-width: 100px;"></td>
                        <td class="text-white">{{ item.name }}</td>
                        <td class="text-white">{{ item.price }}</td>
                        <td class="text-white">{{ item.isBotte ? 'Oui' : 'Non' }}</td>
                        <td class="text-white">{{ item.isMythic ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('app_item_delete', {'id': item.id}) }}" class="btn btn-outline-danger btn-sm">{{ 'input.delete'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {

    $('#itemName, #itemType').on('input change', function () {
        filterItems();
    });

    function filterItems() {
        var itemNameFilter = $('#itemName').val().toLowerCase();
        var itemTypeFilter = $('#itemType').val().toLowerCase();

        $('#itemBody tr').each(function () {
            var itemName = $(this).find('td:eq(1)').text().toLowerCase();
            var isBotte = $(this).find('td:eq(3)').text().toLowerCase();
            var isMythic = $(this).find('td:eq(4)').text().toLowerCase();

            if (itemName.indexOf(itemNameFilter) < 0 || (itemTypeFilter == 'botte' && isBotte != 'oui') || (itemTypeFilter == 'mythic' && isMythic != 'oui') || (itemTypeFilter == 'legendary' && (isBotte == 'oui' || isMythic == 'oui'))) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    }
});
</script>
{% endblock %}
